Body{
background = image  url();
background = size : cover;
background = repeat no-repeat;
background = attachment : fixed;
background = center center;
color: white;
font - family : arial , sans-serif;
text - aling : center;
margin: 0;
padding: 0;
}
#content{
background - color : rgba (0,0,0,0.7);
padding: 20Px

font size : 36 Px
margin-top:20 Px
}
margin: 20 Px 0;
max-width: 600 Px;
